<h1>Editar Libro</h1>

<%= form_for :book, :url => { :action => :update, :id => @book.id },
             :method => :put do |f| %>
    <p>
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </p>

    <p>
      <%= f.label :author %><br>
      <%= f.select(:author) do %>
          <% @author.each do |a| %>
              <%= content_tag(:option, a.nombre, value:a.id) %>
          <%end%>
      <%end%>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Atrás', book_index_path%>