<h1>Autores</h1>

<%= link_to 'Nuevo', author_new_path %>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
  </tr>
  </thead>

  <tbody>
  <% @author.each do |author| %>
      <tr>
        <td><%= author.nombre %></td>
        <td><%= author.apellidos %></td>
        <td><%= link_to 'Ver Autor', :action => :show, :id => author.id %></td>
        <td><%= link_to 'Editar', :action => :edit, :id => author.id %></td>
        <td><%= link_to 'Eliminar', { :action => :destroy, :id => author.id }, :method => :delete, :data => { :confirm => '¿Estas seguro?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Libros', book_index_path %>
